#hero-video-ajax-replacement.hero-video-ajax-replacement
    // placeholder bg image and svg for height until Ajax kicks in and loads desktop or mobile video depending on mobile detect
    .no-mobile-block
        //- use transparent svg as 16/9 ratio placeholder instead of 56.35% padding, so image can also have a max height of 100% for more landscape screens
        //- from https://stackoverflow.com/a/39866013/4504073
        img.video-ratio-svg(src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%209%22%20width%3D%2216%22%20height%3D%229%22%2F%3E" style="width: 100%;" alt="video placeholder")
        
        //- flashes too much when not necessary. May need for slower connections though
        .hero-video-wrapper.desktop-hero-video-wrapper.hero-video-pre-ajax-poster(style="background-image: url(<?= $page->hero_desktop_video_poster()->toFile()->url() ?>)")                

    // placeholder bg image and svg for height until Ajax kicks in and loads desktop or mobile video depending on mobile detect
    .hero-video-wrapper.mobile-hero-video-wrapper.mobile-only(style="background-image: url(<?= $page->hero_mobile_video_poster()->toFile()->url() ?>)")
        //- use transparent svg as 16/9 ratio placeholder instead of 56.35% padding, so image can also have a max height of 100% for more landscape screens
        //- from https://stackoverflow.com/a/39866013/4504073
        img.video-ratio-svg(src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201%201%22%20width%3D%221%22%20height%3D%221%22%2F%3E" style="width: 100%;" alt="video placeholder")