.calendar-widget {
    border: 1px solid black;
    padding: #{gutter(of 4) / 4};
}
.calendar-wrapper {
    // @extend %xxxs-sans-title;
    @extend %xxs-sans-title;
    display: flex;
    flex-direction: column;
}
.calendar-table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%; // safari
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    @extend %sm-sans-title;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: #{gutter(of 4) / 4};
}
.calendar-control-link {
    flex: 0 0 #{gutter(of 4) / 2};
    // flex: 0 0 #{span(1 of 4)};
    // width: 2rem;
    // height: 2rem;
}
.calendar-control-icon {
    &:hover {
        stroke: $hover !important;
    }
}
.calendar-previous-icon {
    transform: rotate(180deg);
}
.calendar-title {
    @extend %xxxs-sans-title;
}
.calendar-day-title {
    width: percentage(1/7); // evenly spaced columns
    // @extend %xs-sans-title;
    // font-weight: 700;
    // padding-bottom: #{gutter(of 4) / 4};
}
.calendar-day {
    position: relative;
}
.calendar-day-number {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    // perfectly square, from https://spin.atomicobject.com/2015/07/14/css-responsive-square/
    position: relative;
    &:after {
        content: "";
        display: block;
        padding-bottom: 100% !important; // override
    }
}
.calendar-day.is-today .calendar-day-number, .calendar-day.is-active .calendar-day-number, .calendar-day-number:hover {
    color: white;
    & ~ .calendar-day-bg {
        background-color: $blue;
    }
}
.calendar-day-bg {
    // for rounded hover effect
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 50%;
}

.monthly-calendar-wrapper th,
.monthly-calendar-wrapper td { 
    vertical-align: middle;
    text-align: center;
}
.monthly-calendar-wrapper th {
    font-size: 12px;
    font-weight: normal;
    padding: 10px 0;
    @include break(lg) {
        font-size: 14px;
    }
}
.monthly-calendar-wrapper td {
  padding: 10px 10px;
  @include break(sm) {
    padding: 0.7vw 0.3vw;
  }
  @include break(lg) {
      padding: 12px 5px;
  }
}
.monthly-calendar-wrapper td.inactive {
  background: #fff;
  color: rgba(0,0,0, .2);
}
.inactive .background-event-colors {
    opacity: 0.4;
}
.monthly-calendar-wrapper td strong {
  color: $sans;
}

.week table {
  // box-shadow: rgba(0,0,0, .05) 0px 2px 5px;
  table-layout: fixed;
}
.week th,
.week td { 
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  // box-shadow: rgba(255,255,255, .06) 0px 1px 0px inset;
}
.week th {
  font-size: 12px;
  font-weight: normal;
  border-bottom: 1px solid $sans;
  color: $sans;
  padding: 10px 0;
}
.week li {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0;
}